.dashboard-container{
    display: flex;
    flex-direction: row;
    max-width:100%;
    margin:0px;
    height: 100vh;
}
.dashboard{
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin:0px;
}
.dashboard-content-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #FDFDFD;
}
.card-image{
    height: 35px;
    width: 35px;
    margin-top: 30px;
    margin-left: 12px;
}
.card-title{
    font-weight: 500;
    font-size: 14px;
    color: #6C6C6C;
    margin-left: 12px;
}
.card-value{
    font-size: 27px;
    font-weight: 700;
    align-self: flex-end;
}